# Masukan APP ID ambil di web my.telegram.org
API_KEY = "20584104"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "f325ee578444d70ad2d02b0673f94d3a"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "BAE6FqgAfdLwGza7q43dvDkOyTpNLln3UeZSlBnCzz2COU9Mh45R3rckIl3zzn0n9Rt0lEkmGLtMi2P-iH7b5yXpdqUejUzUQex8Y2lMVtJNSQUYciHVwgKx1Hx8beC0EeNNVIa8445YaXfNjHgWAWsVJFs2Rxpu6La4FD2w1b7GJfucwFpIOc_Jc_yRZukYNwZBfPvyDRDYTdtSarkqAGlCDugeytDQN0yQxUqxZwaESfeBZC12Z6QNxwvaOyMkUq_lZ_nnvd4jZhQptshCJ-ZvBj4qSsGy3pEF3gD7-YBts5MjVTedftEuJje0yGQGabzV4kQK434ogAaJVX17WU1OkyrtnwAAAAGjbAe4AA"

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "7122660329:AAEpZWU6z4PrO6hzwNrbQbl-PmZrkbQ_T88"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "mongodb+srv://kurt67143:nays@cluster0.vjg7bma.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

